body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

.container {
    margin-top: 100px;
}

.btn {
    padding: 10px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: yellow;
}
